<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recursion</title>
</head>
<body>
<h1>Hello Rana</h1>
    <div class=" container card">
      <div class="card-head ">
          <h3 class = "heading"> All your Queries will solved here</h3>
      </div>
      <div class="card-body">
        <a href = "/question">Submit a question </a><br>
        <a href="/answer">Submit an answer </a>
      </div>
      <div class="card-footer">

      </div>
    </div>
</body>
</html>